Package: com.eular.Cycript-Reveal
Name: Cycript-Reveal
Version: 0.1-1
Description: 
Section: Tweaks
Depends: firmware (>= 5.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Eular
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

